.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(20px); */
  z-index: 10;
}

.hdBanner {
  background-color: #000;
}

.inner {
  min-height: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e2012d;
  font-size: 0.75rem;
  font-weight: 400;
  z-index: 10;
}

.right .userLink {
  transition: 0.2s;
}

.right .userLink:hover {
  filter: brightness(0.5);
}

.right .slash {
  margin: 0 4px;
}

.hdWrap {
  position: relative;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuBars {
  display: none;
  cursor: pointer;
}

.menuList {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  font-size: 13px;
  color: var(--text-primary);
  font-weight: 300;
}

.menuItem {
  position: relative;
}

.menuItem:hover {
  border-bottom: 2px solid red;
}

.menuItem::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1rem;
}

.subMenu {
  position: absolute;
  top: calc(100% + 0.75rem);
  left: -10px;
  min-width: 8.75rem;
  width: max-content;
  padding: 10px 0;
  background-color: #fff;
  color: #000;
  border: 1px solid #ebebeb;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: all 0.25s ease;
}

.menuItem:hover .subMenu {
  opacity: 1;
  transform: translateY(4px);
  pointer-events: auto;
}

.subMenuLink {
  padding: 0 0.625rem;
}

.subLink {
  display: block;
  font-size: 0.82rem;
  font-weight: 300;
  line-height: 2rem;
  transition: background-color 0.3s ease;
}

.subLink:hover {
  background-color: #f2f2f2;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoImage {
  width: 71px;
  height: auto;
}

.hdRight {
  display: flex;
  align-items: center;
}

.search {
  width: 17.68rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--text-primary);
}

.searchTS {
  display: flex;
}

.tSearch {
  padding-right: 0.625rem;
  font-size: 12px;
  color: var(--text-primary);
}

.sInput {
  max-width: 9.75rem;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.hIcon {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconSearchMobile {
  display: none;
  cursor: pointer;
}

.iconHeart {
  margin-left: 1rem;
}

.iconBag {
  margin-left: 1rem;
}

.multiShop {
  margin-left: 1.5rem;
}

.globalCurrent {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .menuList {
    gap: 1.56rem;
  }
}

@media screen and (max-width: 1024px) {
  .hdWrap {
    height: 3.1rem;
  }
  .menuBars {
    display: block;
  }
  .menu, .search,.iconHeart{
    display: none;
  }
  .iconSearchMobile {
    display: block;
  }
  .logoImage {
    width: 50px;
    height: 20px;
  }
}