:root {
  --background: #ffffff;
  --foreground: #000;

  --text-primary: #000
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --text-primary: #fff
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-main), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.app-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.icon {
  display: inline-block;
  background-image: url("/public/css_sprites.png");
  background-repeat: no-repeat;
}

.bg-next_arrow {
  width: 12px;
  height: 19px;
  background: url("/public/css_sprites.png") -10px -52px;
}

.bg-cart_icon {
  width: 21px;
  height: 20px;
  background: url("/public/css_sprites.png") -54px -10px;
}

.bg-arrow_icon {
  width: 12px;
  height: 8px;
  background: url("/public/css_sprites.png") -42px -52px;
}

.bg-heart_icon {
  width: 24px;
  height: 22px;
  background: url("/public/css_sprites.png") -10px -10px;
}
